
#忽略常用文件

# node project
*node_modules

# yarn
yarn-debug.log*
yarn-error.log*
npm-debug.log*


# Mac
*.DS_Store

# windows
Thumbs.db


# 添加你自己要忽略的文件


# iserver 项目忽略文件
*_HTML
*_HTML2
*.psd
*version.json
*.project

dist/


# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.project
*.vscode
*.zip

# 忽略组件中的文件
