:root {
    --mainColor: #333;
    --waitColor: #999;
    --activeColor: #09f;
    --mainBGColor: #fff;
    --subBGColor: #f5f5f5;
    --mainLineColor: #eee;
}

.night {
    --mainColor: #f5f5f5;
    --waitColor: #777;
    --activeColor: #09f;
    --mainBGColor: #333;
    --subBGColor: #2d2d2d;
    --mainLineColor: #444;
}
@media (prefers-color-scheme: dark) {
    :root {
        --mainColor: #f5f5f5;
        --waitColor: #777;
        --activeColor: #09f;
        --mainBGColor: #333;
        --subBGColor: #2d2d2d;
        --mainLineColor: #444;       
    }
}