@charset 'utf-8';

$headerH: 4rem;

.main-app {
	header {
		padding: 0 1rem;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		height: $headerH;

		h1 {
			color: #333;
			font-size: 1.8rem;
			line-height: $headerH;

			span {
				cursor: pointer;
			}
		}
	}

	main {
		padding: $headerH 1rem 0;

		ul.file-list {
			margin: .5rem 0 1rem;

			li {
				line-height: 1.6rem;

				svg {
					width: 1.1rem;
					vertical-align: text-top;

					path {
						fill: #333;
					}
				}
				
				a {
					color: #333;
					font-size: 1.2rem;
					cursor: pointer;
		
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

	}
}

@media (max-width: 800px) {
	.main-app {
		main {
			ul.file-list {
				li {
					display: flex;
					height: 3.2rem;
					align-items: center;
					justify-self: center;

					svg {
						width: 1.5rem;
						margin-right: .5em;
					}
					
					a {
						flex: 1;
						display: flex;
						font-size: 1.3rem;
						align-items: center;
						align-self: stretch;
						vertical-align: middle;
					}
				}
			}
			
		}
	}
}

.folder-info {
	margin: 0 0  3rem
}
