@charset 'utf-8';

$headerH: 4rem;

.main-app {
	header {
		padding: 0 1rem;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		height: $headerH;

		h1 {
			color: #333;
			font-size: 1.8rem;
			line-height: $headerH;

			span {
				cursor: pointer;
			}
		}
	}

	main {
		padding: $headerH 1rem 0;

		ul {
			margin: .5rem 0 1rem;

			li {
				line-height: 1.6rem;

				svg {
					vertical-align: text-top;

					path {
						fill: #333;
					}
				}
			}
		}

		a {
			color: #333;
			font-size: 1.2rem;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.folder-info {
	margin: 0 0  3rem
}

.over-layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background: rgba(0,0,0,.2);
}
.show-layer-enter-active,
.show-layer-leave-active {
	transition: background .5s;
	background: rgba(0,0,0,.2);
}
.show-layer-enter,
.show-layer-leave-to {
	background: rgba(0,0,0,0);
	transition: background .5s;
}

.ask-link-qrcode-mod {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 1em;
	border-radius: 3px;
	transform: translate(-50%, -50%);
	background: #fff;
	overflow: hidden;

	& /deep/ img {
		width: 180px;
		height: 180px;
	}
}
.show-qrcode-enter-active,
.show-qrcode-leave-active {
	transition: opacity .5s, transform .5s;
	opacity: 1;
	transform: translate(-50%, -50%);
}
.show-qrcode-enter,
.show-qrcode-leave-to {
	opacity: 0;
	transition: opacity .5s, transform .5s;
	transform: translate(-50%, -30%);
}