@charset 'utf-8';

/*🍞屑*/
.v-breadcrumb-com {
	height: 2rem;

	a {
		color: #09f;
		padding: 0 0 0 .2rem;

		&:not(:last-child)::after {
			content: '/';
			padding: 0 .2rem;
			font-size: 1rem;
			color: #aaa;
		}
	}
}
